// colors
$primary: #eec329;
$second: #294e64;
$white: white;
$black: black;
$link-hover: #b9b9b9;
$copyright: #555252;

// Fonts
$sans: "DM Sans", sans-serif;
$rubik: "Rubik", sans-serif;
$lato: "Lato", sans-serif;
